.image-div {
    height: 200px;
}

.card {
    max-height: none;
    width: 100%;
}

.art-piece {
    height: 480px;
}

.card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/* art details page */

.art-piece-image {
    height: 680px;

}

.chat-card {
    width: 80%;
}

.image-container-details{
    object-fit: cover;
    width: auto;
}

/* Landing page hero image */

.container {
    position: relative;
    margin: 0 auto;
    max-width: 100vw;
    max-height: 400px;
}

.hero {
    padding-right: 0;
    padding-left: 0;
}


.container .content {
    position: absolute;
    color: #000;
    bottom:0;
    background: rgba(245, 243, 243, 0.747);
    
}

.hero{
    height: 400px;
    overflow:hidden;
}

.hero-image {
    height: 400px;
    width: auto;
    overflow: hidden;
}

/* Media Queries: */

@media only screen and (max-width: 360px) {

    /* For smaller mobiles: */
    .art-piece {
        height: 400px;
    }


}

@media only screen and (min-width: 560px) and (max-width: 700px) {
    /* For rotated mobiles: */



}

@media only screen and (min-width: 760px) and (max-width: 1026px) {
    /* For tablets: */
    .container .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(245, 243, 243, 0.747);
    }

    .larger-screens-hero{
        height: 400px;
        width: 90vw;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

}

@media only screen and (min-width: 1027px) {
    /* For desktop: */

    .container .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(245, 243, 243, 0.747);
        
    }
    .larger-screens-hero{
        height: 400px;
        width: 90vw;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
    }

}

@media only screen and (min-width: 1900px) {

    /* For larger desktop: */
    .art-piece {
        height: 500px;
    }
    .container .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(245, 243, 243, 0.747);
        
    }

    .larger-screens-hero{
        height: 400px;
        width: 90vw;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
    }
   

}