*{
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
}

/* Navbar */

.navbar-custom {
    height: 80px;
    background-image: linear-gradient(to right, #FF0000, #FF7F00, #00FF00, #33FFF3, #9400D3);
}

/* footer*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #9400D3;
}

/* chat box */
.chat-box-form{
    position: absolute;
    bottom: 60px;
    right:0;
    z-index:22; 
    background-color: #33FFF3;
    width:40%;
    height: 300px;
    overflow-y: auto;
}


    .button-chat{
    position: absolute;
    bottom: 0;
    right:0;
    z-index:20; 
    width:30%;
    height: 60px;
    background-color: #9400D3;
}
