*{
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
    background-color: #F6EDF7;
    
}



/* Navbar */

.navbar-custom {
    height: 80px;
    background-image: linear-gradient(to right, #FF0000, #FF7F00, #00FF00, #33FFF3, #9400D3);
}

.navbar-collapse {
    margin-top: 20px;
    margin-bottom: 10px;
    
}

/* footer*/
.footer{
    margin-top: 5px;
    width: 100%;
    height: 60px;
    background-color: #9400D3;
    
}

.window-content{
    min-height: min-content;
    margin-bottom: 100px;
}


/* chat box */
.chat-box-form{
    position: absolute;
    bottom: 60px;
    right:0;
    z-index:22; 
    width:60%;
    height: 400px;
    background-color: #FF0000;
}

.chat-window{
    height:300px;
    overflow-y: auto;
    
}

.card{
    width: 80%;
    max-height: 100px;
    text-align: center;
    overflow-y: auto;
    
}

textarea{
    outline: none;
    resize: none;
    
    overflow: auto;
}

.chat-box{
    padding: 0;
    margin:0;
    max-width:80%;
    margin-left: 5px;

}



.button-chat{
    position: absolute;
    bottom: 0;
    right:0;
    z-index:20; 
    width:200px;
    height: 60px;
    background-color: #9400D3;
    border-style: solid;
    border: 2px;
    border-color: #000;
    color:#F5F52F;
}

i.far.fa-comment-alt{
    font-size: 20px;
    color:#F5F52F;
}

/* Media Queries: */

@media only screen and (max-width: 360px) {
    /* For smaller mobiles: */
}

@media only screen and (min-width: 560px) and (max-width: 700px) {
    /* For rotated mobiles: */

}

@media only screen and (min-width: 760px) and (max-width: 1026px) {

    /* For tablets: */
}

@media only screen and (min-width: 1027px) {
/* For desktop: */
}

@media only screen and (min-width: 1900px) {
    /* For larger desktop: */
}