* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #F6EDF7;

}

.nav-collapse-colour {
    background-color: #F6EDF7;
}


/* Navbar */

.navbar-custom {
    height: 80px;
    background-image: linear-gradient(to right, #FF0000, #FF7F00, #00FF00, #33FFF3, #9400D3);
}

.navbar-collapse {
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 20;
    width: 100vw;
}

.navbar {
    padding: 0;
}

/* footer*/
.footer {
    margin-top: 5px;
    width: 100%;
    height: 60px;
    background-color: #9400D3;
}

.window-content {
    min-height: 100vh;
    margin-bottom: 100px;
}


/* chat box */
.chat-box-form {
    position: fixed;
    bottom: 60px;
    right: 0;
    z-index: 10;
    width: 80vw;
    height: 400px;
    background-color: #9400D3;
}

.chat-window {
    height: 300px;
    overflow-y: auto;

}

.chat-window-artist {
    height: 150px;
    overflow-y: auto;
}

.card {
    width: 70%;
    max-height: fit-content;
    text-align: center;
    overflow-y: auto;

}

.chat-card {
    width: 80%;
}

textarea {
    outline: none;
    resize: none;
    overflow: auto;
}

.chat-box {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;

}



.button-chat {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
    width: 200px;
    height: 60px;
    border-style: solid;
    border: 2px;
    border-color: #000;
    color: #F5F52F;
}

.purple {
    background-color: #9400D3;
}

.green {
    background-color: #19c936;
}

.footer-content {
    width: calc(100vw - 200px);
}

i.far.fa-comment-alt {
    font-size: 20px;
    color: #F5F52F;
}

i.fab.fa-facebook-f,
i.fab.fa-twitter,
i.fab.fa-linkedin-in {
    color: #F5F52F;
}

/* Message section for alerts */
.message-container {
    width: 300px;
    max-height: 400px;
    color: #F5F52F;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 20;
    background-color: #9400D3;
}

.image-column {
    height: 100px;
    width: auto;
}

a.order-number {
    text-overflow: ellipsis;
    max-width: 25vw;
    overflow: hidden;
    display: inline-block;

}

/* Media Queries: */

@media only screen and (max-width: 360px) {
    /* For smaller mobiles: */
}

@media only screen and (min-width: 560px) and (max-width: 700px) {
    /* For rotated mobiles: */

}

@media only screen and (min-width: 760px) and (max-width: 1026px) {

    /* For tablets: */

    .chat-box-form {
        width: 50vw;
    }
}

@media only screen and (min-width: 1027px) {

    /* For desktop: */
    .chat-box-form {
        width: 40vw;
    }

}

@media only screen and (min-width: 1900px) {

    /* For larger desktop: */
    .chat-box-form {
        width: 30vw;
    }



}