{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/art.css' %}">
{% endblock %} 

{% block content %}

<div class="container-fluid">
    <div class="container hero mt-2">
        <img class="img-fluid hero-image w-100" src="{{ MEDIA_URL }}hero.JPG" alt="image of Leticia">

        <div class="content text-center">
            <h1>About Me</h1>
            <p class="ml-1 mr-1">I am an illustator who studied at National College of Art and Design in Dublin. <br>
                My style is influenced by Fantasty Art and Intimism. <br>
                Here you will find all my orignal work for sale.</p>
        </div>   
    </div>
</div>

<div class="container-fluid h-100">
    <h2 class="text-center mt-3 mb-2">Art Pieces</h1>
    <div class="row">
            {% for art in artCollection %}
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-lg-4 col-xl-3 mt-2 ">
                    <div class="art-piece card">
                        {% if art.image %}
                        <img class="card-img-top img-fluid" src="{{ art.image.url }}" alt="{{ art.name }}">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noImage.png" alt="{{ art.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ art.name }}</h5>
                            <p class="card-text">€{{ art.price }}</p>
                            <small>
                                {% if art.available %}
                                <p class="text-success">Available </p>
                                {% else %}
                                <p class="text-danger">Sold Out</p>
                                {% endif %}
                            </small>
                            <div class="ml-3">
                                <a class="btn btn-sm btn-primary" href="{% url 'artDetails' art.id %}">See More</a>
                                <a class="btn btn-sm btn-primary {% if not art.available %}disabled {% endif %}" href="{% url 'add_to_cart' art.id %}">Add to cart</a>
                            </div>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'editArt' art.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'deleteArt' art.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
    
    {% endfor %}
    </div>
</div>

{% endblock %}