{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/art.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row align-items-center h-100 mt-5">
        <div class="col-sm-10 col-sm-offset-1 mt-2 col-lg-6 ">
            <div class="text-center image-container-details">
                {% if art.image %}
                <img class="img-fluid art-piece-image" src="{{ art.image.url }}" alt="{{ art.name }}">
                {% else %}
                <img class="img-fluid art-piece-image" src="{{ MEDIA_URL }}noImage.png" alt="{{ art.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 mt-2 col-lg-4 ">
            <div class="text-center ">
                <h5 class="">{{ art.name }}</h5>
                <p class="">€{{ art.price }}</p>
                <p class="">{{ art.description }}</p>
                <p>
                    {% if art.available %}
                    <small class="text-success">Available </small>
                    {% else %}
                    <small class="text-danger">Sold Out</small>
                    {% endif %}
                </p>
                <div class="ml-3">
                    <a class="btn btn-sm btn-primary {% if not art.available %}disabled {% endif %}"
                        href="{% url 'add_to_cart' art.id %}">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}