{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <h3 class="text-center mt-2"> Edit Art</h3>
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-4 .col-lg-4 offset-lg-4 text-left">
            <form method="POST" action="{% url 'editArt' id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-left mt-4">
                    <button class="btn btn-primary rounded-0" type="submit">Update</button>
                    <a class="btn btn-primary rounded-0 ml-2" href="#">Cancel</a>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}