{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-5">Welcome Leticia</h1>
    <h3 class="text-center mt-5">Chat Facility</h3>
    <div class="row">
        <div class="col-3 offset-2 col-md-3 offset-md-3 mt-1 mb-1">
            <a class="btn btn-primary btn-lg status-button" id="Online" href="{% url 'artist_status' %}">On</a>
        </div>
        <div class="col-3 offset-2 col-md-3 offset-md-3 mt-1 mb-1">
            <a class="btn btn-primary btn-lg status-button" id="Offline" href="{% url 'artist_status' %}">Off</a>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="text-center mt-5 mb-3">Current Chats</h3>
    <div class="row">
        <div class="col-2 font-weight-bold">User</div>
        <div class="col-7 font-weight-bold">Message Preview</div>
        <div class="col-3 font-weight-bold">Action Buttons</div>
    </div>
    {% for chat_message in chat_messages %}
    {% if chat_message.reply_recieved == False %}
    <div class="row">
        <div class="col-2">{{ chat_message.user_name }}</div>
        <div class="col-7 overflow-hidden">{{ chat_message.message_content }}</div>
        <div class="col-3 mt-1 mb-1">
            <a class="btn btn-primary btn-sm message-reply-button" data-chat-session="{{ chat_message.chat_session }}" data-chat-id="{{ chat_message.id }}" href="">Reply</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/artist.js' %}"></script>
{% endblock %}