{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="col-sm-12 mt-5 mb-5">
            <h2 class="text-center">Cart</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm ">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Art</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td class="w-25">
                            {% if item.art_chosen.image %}
                            <img class="img-fluid image-column" src="{{ item.art_chosen.image.url }}"
                                alt="{{ item.art_chosen.name }}">
                            {% else %}
                            <img class="img-fluid image-column" src="{{ MEDIA_URL }}noImage.png"
                                alt="{{ item.art_chosen.name }}">
                            {% endif %}
                        </td>
                        <td class="w-25">
                            <p>{{ item.art_chosen.name }}</p>
                        </td>
                        <td class="w-25">
                            <p>€{{ item.art_chosen.price}}</p>
                        </td>
                        <td class="w-25">
                            <a class="btn btn-sm btn-primary"
                                href="{% url 'remove_cart_item' item.art_chosen.id %}">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table-info">
                        <td>
                            <p>Total</p>
                        </td>
                        <td></td>
                        <td>€{{ total }}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-center w-100">
            <div class="float-left ml-4">
                <a class="btn btn-sm btn-primary" href="{% url 'art' %}">Keep Exploring Art</a>
            </div>
            <div class="float-right mr-4">
                <a class="btn btn-sm btn-primary" href="{% url 'checkout' %}">Complete Order</a>
            </div>
        </div>
    </div>
    {% else %}
    <p>Your bag is empty</p>
    <div class="float-left">
        <a class="btn btn-sm btn-primary" href="{% url 'art' %}">Keep Exploring Art</a>
    </div>
    {% endif %}

</div>

{% endblock %}