<div class="chat-window">
    {% for chat_message in chat_messages %}
    {% if chat_message.user_name == 'admin' %}
    <div class="card mb-3 mt-1 float-right mr-3">
    {% else %}
    <div class="card mb-3 mt-1 ml-3">
    {% endif %}
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="card-text">{{ chat_message.message_content}}</p>
                <footer class="blockquote-footer">{{ chat_message.user_name }}</footer>
            </blockquote>
        </div>
    </div>
    {% endfor %}
</div>