{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="chat-window">
    <div class="card mb-3 mt-1 ml-3">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="card-text">{{ new_chat_message}}</p>
                <footer class="blockquote-footer">{{ new_user }}</footer>
            </blockquote>
        </div>
    </div>  
</div>
<form class="start-chat-form" id="chat-form-artist" action="{% url 'artist_send_reply' %}">
    {% csrf_token %}
    <div class="form-group chat-box row mt-1">
        <textarea class="col-12" id="message" name="message" id="chat-message" placeholder="Your Message"></textarea>
        <input type="hidden" id="message-id" name="message-id" value="{{id}}">
    </div>
    <button type="submit-button" class="mt-1 mb-3 ml-5"> Submit Message</button>
</form>

{% endblock %}