{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reply.css' %}">
{% endblock %}

{% block content %}

<div class="container text-center">
    <h2 class="text-center mt-5 mb-5 reply-header">Reply to Chat</h2>
    <div class="chat-window w-100 mt-3">
        <div class="card mb-3 mt-1 ml-3">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="card-text">{{ new_chat_message}}</p>
                    <footer class="blockquote-footer">{{ new_user }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <form class="start-chat-form" id="chat-form-artist" action="{% url 'artist_send_reply' %}" method="POST">
        {% csrf_token %}
        <div class="form-group chat-box row mt-1 w-100">
            <textarea class="col-12" id="message-artist" name="message-artist"
                placeholder="Your Message" required></textarea>
            <input class="col-12" type="hidden" id="message-id" name="message-id" value="{{new_id}}">
        </div>
        <button type="submit" class="btn btn-primary mt-3 mb-3 ml-1 text-center"> Submit Message</button>
    </form>
</div>

{% endblock %}